# SAMPLE CONFIG FILE

READ_URL = "FULL URL OF WHAT YOU WANT TO READ"

LOGIN_URL = "URL OF THE DJANGO LOGIN FORM"

FORM_NO = 0 #POSITION OF FORM ON LOGIN PAGE - USUALLY 0

USERNAME = "ADMIN UNAME"
PASSWORD = "ADMIN PASSWORD"

DOC_PATHS = { #KEY VALUE PAIRS OF WHAT YOU'RE AFTER PULLING OUT. SEE BEAUTIFUL SOUP DOCS
    "id" : "body.table.tbody.tr.th.a.renderContents()", 
    "price" : "body.table.tbody.tr.th.nextSibling.nextSibling.renderContents()",
    }

SERIAL_INTERFACE ="/dev/ttyACM0" #on linux anyway and if you're using an Uno


