# SAMPLE CONFIG FILE

READ_URL = "FULL URL OF WHAT YOU WANT TO READ"

LOGIN_URL = "URL OF THE DJANGO LOGIN FORM"

FORM_NO = 0 #POSITION OF FORM ON LOGIN PAGE - USUALLY 0

USERNAME = "ADMIN UNAME"
PASSWORD = "ADMIN PASSWORD"

DOC_PATHS = { #KEY VALUE PAIRS OF WHAT YOU'RE AFTER PULLING OUT. SEE BEAUTIFUL SOUP DOCS
    "id" : "body.table.tbody.tr.th.a.renderContents()", 
    "price" : "body.table.tbody.tr.th.nextSibling.nextSibling.renderContents()",
    }

SERIAL_INTERFACE ="/dev/ttyACM0" #on linux anyway and if you're using an Uno

WAIT_PERIOD = 60 #period of time to wait until polling again (you'd probably want to keep this long if you are calling an expensive page)

VALUE_MULTIPLIER = 100 # the amount the value should be multiplied by to convert to seconds

BAUD_RATE = 2400 #the baud you want to connect the serial port at.
